/* Sidebar Styles */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    z-index: 100;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#sidebar ul {
    padding-left: 0;
}

#sidebar .list-group-item {
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#sidebar .list-group-item a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#sidebar .list-group-item a i {
    margin-right: 10px;
}

/* Make sure the content is not hidden behind the sidebar */
body {
    margin-left: 250px; /* Account for the fixed sidebar */
    transition: margin-left 0.3s ease;
}

/* When the sidebar is collapsed */
body.sidebar-collapsed {
    margin-left: 0;
}

#sidebar .collapse {
    overflow-y: auto;
    padding: 10px;
}
